<h3>Add this Book to my list:</h3>

<p>Book Title: <%= @book[:book_title] %></p>
<p>Book Author: <#%= @book.find_authors_titles %></p>
<p>Book Url: <%#= image_tag :show_img_url%></p>
<%= button_to "Add Book",  @book, :method => :create %>

<%= link_to 'Create Tags', new_tag_path %><br>
<%= link_to 'Back Homepage', books_path %>
