<div id="content">
  <div id="main_content">
    <h3>Book Titles:</h3>
    <% @books.map do |b|%><br>
      <%= link_to b[:book_title],  new_book_path({book: b}) %>
      <%#byebug%>
    <% end %><br>
    <%#end%>
    <%= link_to 'Create Tags', new_tag_path %><br>
    <%= link_to 'Back To Homepage', books_path %>
    </div><!-- end of main_content -->
</div><!-- end of content -->