<h3>Book Titles:</h3>
<% @book.map do |b|%><br>
  <%= link_to b[:book_title],  new_book_path%>
  <%#byebug%>
<%end%><br>
<%#end%>
<%= link_to 'Create Tags', new_tag_path %><br>
<%= link_to 'Back To Homepage', books_path %>
