<h3>Author's Book Titles:</h3>
<% @book.map do |b|%><br>
<%= link_to b, new_book_path %>

<%end%><br>
  
<%#end%>
<%= link_to 'Create Tags', new_tag_path %><br>
<%= link_to 'Back To Homepage', books_path %>