// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
  width: 300px;
  height: 300px;
}
.container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
