<footer class="container" style="margin-top: 100px; color:#001a66;">
  <small>
    <a href="http://www.google.com/">Google</a>
  </small>
  <p class="text-center">
    Copyright ©<%= Time.now.year %> Book Review
    <br>
    Design by Tisdale, Darrick and Nicole
  </p>
</footer>
